<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftp://ftp.presstv.ir"/>
    <add key="UserName" value="feeds"/>
    <add key="PassWord" value="feeds110"/>
    <add key="Extention" value=".xml"/>
    <add key="DestRoot" value="c:\\files\\tmp\\Reuters\\"/>
    <add key="Interval" value="5"/>
    <add key="Passive" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>

