<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftp://ftp.presstv.ir"/>
    <add key="UserName" value="efe"/>
    <add key="PassWord" value="efe"/>
    <add key="Extention" value=".zip"/>
    <add key="DestRoot" value="F:\\EFE\\"/>
    <add key="Interval" value="10"/>
    <add key="Delete" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
